.card-content{
  margin-bottom: 2%;
  margin-left: 5%;
  box-shadow: 0 5px 15px 5px #ccc;
  width: 80%;
}

.card-content-header, .card-content-footer, .card-content-title{
  text-align: left;
}
.card-content-header, .card-content-footer{
 background: #f7f7f7;
}
.card-content-body{
  background: white;
  border-bottom: 1px  solid #d8d8d8;
  border-top: 1px  solid #d8d8d8;
}

.btn-p{
  margin-left: 85%;
  border-radius: 5px;
  width: 10%;
}

.card {
  width: 400px;
  background-color: white;
  margin-left: -10%;
/*  margin: 10px 10px 30px;*/
  border-radius: 5px;
  box-shadow: 0 5px 15px 5px #ccc;
}

.form-name-heading {
  text-align: center;
  margin-bottom: 10%;
}
input{
  &.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  &.ng-valid {
    border: 1px solid #68ff5d;
  }
}

.alert {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.form-control{
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border-radius: 30px 30px 30px 30px;
  margin-bottom: 10px;
}

.form-check{
  margin-left: 5%;
}

.btn{
  margin-left: 38%;
  margin-bottom: 5px;
  width: 100px;
  border-radius: 30px 30px 30px 30px;
  font-size: 15px;
}

.create-account{
  text-align: center;
}
