<form class="card" [formGroup]="form" (ngSubmit)="submit()">

  <div class="form-group">
    <h1>New post</h1>

    <label for="title" class="sr-only">Title:</label>
    <input type="text" id="title" class="form-control" placeholder="Title" formControlName="title"/>
    <div *ngIf="form.get('title').touched && form.get('title').invalid"
         class="validation"
    >
      <div class="alert alert-danger" role="alert"
           *ngIf="form.get('title').errors.required">
        Title cannot be empty!
      </div>
    </div>

    <quill-editor formControlName="text"></quill-editor>

    <label for="author" class="sr-only">Author:</label>
    <input type="text" id="author" class="form-control" placeholder="Author" formControlName="author"/>
    <div *ngIf="form.get('author').touched && form.get('author').invalid"
         class="validation"
    >
      <div class="alert alert-danger" role="alert"
           *ngIf="form.get('author').errors.required">
        Author cannot be empty!
      </div>
    </div>
    <br>
    <button type="submit" class="btn btn-success"
            [disabled]="form.invalid"
    >
      Publish
    </button>
  </div>
</form>


<router-outlet></router-outlet>



