form {
  max-width: 600px;
  background: white;
  margin: 0 auto 30px;
  box-shadow: 0 5px 15px 5px #ccc;
}

h1{
  text-align: center;
}
.form-control{
   max-width: 100%;
}

.alert{
  margin: auto;
  text-align: center;
}

.btn{
  margin-left: 45%;
}
