@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.navbar{
  background-color: #0b0b0b;
  box-shadow: 0 5px 15px 5px #ccc;
  margin-bottom: 20px;
}

.navbar-brand{
  font-family: 'Monoton', cursive;
  font-size: 30px;
  color: white;
  margin-left: 150px;
}

.switch-language{
  color: white;
  margin-right: 150px;
}
